*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #063D42;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.header {
    margin-top: 24px;
}

h1 {
    padding: 0;
    margin: 0;
    letter-spacing: 1mm;
    line-height: 1;
}

.header > div {
    font-size: 18px;
}

.container {
    padding: 16px;
    background-color: #002A28;
    border-radius: 32px;    
    width: 650px;
    height: 482px;

    display: flex;
    align-items: center;
    gap: 16px;
}

.control {
    align-self: stretch;
    flex: 1;
}

.sketch-area {
    margin-left: auto;
    background-color: #fff;
    border-radius: 10px;
    width: 450px;
    height: 450px;

    flex-shrink: 0;
    display: flex;
    flex-flow: column wrap;
}

.row {
    display: flex;
    flex: 1;
}

.column {
    color: black;
    border: 1px solid #b7b4b465;
    flex: 1;
}

.round-top-left {
    border-top-left-radius: 0.5em;
}

.round-top-right {
    border-top-right-radius: 0.5em;
}

.round-bottom-left {
    border-bottom-left-radius: 0.5em;
}

.round-bottom-right {
    border-bottom-right-radius: 0.5em;
}

.size-control {
    padding: 20px 0px;
    border-bottom: 1px solid #f4f4f472;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

button.grid-size {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 4px;
    background-color: #0f0b92;
    border: 1px solid #f4f4f472;
    border-radius: 0.5em;
    flex: 1;
}

.size-control span {
    font-size: 12px;
    white-space: pre-wrap;
}

.actions {
    margin-top: 16px;
    padding-bottom: 16px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.actions button {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 5px;
    background-color: #0f0b92;
    border: none;
    border: 1px solid #f4f4f452;
    border-radius: 0.5em;
}

.colors {
    padding: 5px;
    min-height: 70px;
    border-top: 2px solid #3630dd;
    border-bottom: 2px solid #3630dd;
    border-radius: 0.5em;

    display: flex;
    justify-content: space-between;
}

.added-colors {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}

.selected-color {
    width: 25px;
    border: 1px solid #f4f4f452;
    border-radius: 0.5em;
}

.added-colors > button {
    width: 20px;
    height: 20px;
    border: 1px solid #f4f4f452;
    border-radius: 0.3em;
}

.added-colors button {
    background-color: #000;
}

#color-input {
    display: none;
}

.help p {
    font-size: 12px;
    padding: 5px;
    margin: 0;
    border-top: 1px solid #f4f4f452;
    text-align: left;

    display: flex;
    align-items: center;
    gap: 5px;
}

.help .term {
    color: #25f2f9;
    margin-right: auto;
}

.help:last-child {
    border-bottom: 1px solid #f4f4f452;
}