*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #063D42;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.header {
    margin-top: 24px;
}

h1 {
    padding: 0;
    margin: 0;
    letter-spacing: 1mm;
    line-height: 1;
}

.header > div {
    font-size: 18px;
}

.container {
    padding: 16px;
    background-color: #002A28;
    border-radius: 32px;    
    width: 650px;
    height: 482px;

    display: flex;
    align-items: center;
    gap: 16px;
}

.control {
    align-self: stretch;
    flex: 1;
}

.sketch-area {
    margin-left: auto;
    background-color: #fff;
    border-radius: 10px;
    width: 450px;
    height: 450px;
}